li.px100 {
 	height: 100px;
}

li.px150 {
	height: 150px;
}

li.px200 {
	height: 200px;
}

li.px250 {
 	height: 250px;
}

li.px300 {
 	height: 300px;
}





li.galerie {
	list-style: none;
	float: left;
	padding: 0;
	margin: 0;
}








